<!DOCTYPE html>
<html>
	
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mendo's Clothes</title>
	<link rel="shortcut icon" href="../assets/img/favicon.png">
	<link rel="stylesheet" href="../assets/fontawesome-free-6.1.1-web/css/all.css">
	<link rel="stylesheet" href="../assets/css/style.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>

<body>
	<header>
		
		<!-- Navbar -->
		<nav class="navbar">

			
			<a href="../index.html"><img src="../assets/img/logo-wt.png" alt="mendo's brand logo" class="navbar__logo"></a>

		
			<ul class="navbar__list">
					<li class="list__item">
						<a class="list__text" href="../index.html">Inicio</a>
					</li>
					<li class="list__item">
						<a class="list__text" href="about.html">Nosotros</a>
					</li>
					<li class="list__item">
						<a class="list__text" href="products.html">Productos</a>
					</li>
					<li class="list__item">
						<a class="list__text" href="contact.html">Contacto</a>
					</li>
					<li class="list__item">
						<a class="list__text" href="faq.html">Preguntas Frecuentes</a>
					</li>
			</ul>


			<div class="navbar__div">
				<ul class="navbar__social">
					<li class="list__item">
						<i class="fa-brands fa-facebook-square"></i>
						<a href="https://facebook.com">Facebook</a>
					</li>

					<li class="list__item">
						<i class="fa-brands fa-instagram-square"></i>
						<a href="https://instagram.com">Instagram</a>
					</li>
				</ul>
			</div>

			
		</nav>
	</header>

	<main>
		
        <section class="faq">

            <h1 class="article__title">PREGUNTAS FRECUENTES</h1>
            
            <article>
                <ul>
                    <li>
                        <h3 class="article__subtitle">¿Qué medios de pago aceptan?</h3>
                        <p class="article__text">Aceptamos tarjetas de credito/débito VISA o Mastercard.</p>
                    </li>
                    <li>
                        <h3 class="article__subtitle">¿Realizan envíos?</h3>
                        <p class="article__text">Realizamos envíos a todo el país a través de Correo Argentino
                            o el medio que sea conveniente.
                        </p>
                    </li>
                    <li>
                        <h3 class="article__subtitle">¿Los productos tienen cambio?</h3>
                        <p class="article__text">
                            Los productos tienen cambio por un desperfecto de fábrica o por talle.
                        </p>
                        <p class="article__text">
                            De todas formas, recomendamos leer con atención la guía de talles en cada producto 
                            ya que allí podrás encontrar tu talle ideal. 
                        </p>
                    </li>
                    <li>
                        <h3 class="article__subtitle">¿Cuánto demoran los envíos?</h3>
                        <p class="article__text--last">Pueden demorar hasta 72hs si sos del interior del país y hasta 48hs si sos del AMBA.</p>
                    </li>
                </ul>
            </article>

        </section>

	</main>

	<!-- Footer -->

	<footer class="footer">

		<div class="footer__div">
			<h3 class="list__title">Mapa del sitio</h3>
			<ul class="footer__list">
				<li>
					<a href="../index.html">Inicio</a>
				</li>
				<li>
					<a href="about.html">Nosotros</a>
				</li>
				<li>
					<a href="products.html">Productos</a>
				</li>
				<li>
					<a href="contact.html">Contacto</a>
				</li>
				<li>
					<a href="faq.html">Preguntas Frecuentes</a>
				</li>
			</ul>
		</div>

	
		<h3 class="footer__rights">Derechos reservados. Mendo's 2022 ©</h3>
		

		<div class="footer__div--social">
			
			<h3 class="footer__title">Redes Sociales</h3>

			<a href=""><i class="footer__icons fa-solid fa-envelope fa-xl"></i></a>
		
			<a href="https://facebook.com"><i class="footer__icons fa-brands fa-facebook-square fa-xl"></i></a>
		
			<a href="https://instagram.com"><i class="footer__icons fa-brands fa-instagram-square fa-xl"></i></a>
			
		</div>

	</footer>
</body>
</html>